In [59]:
import pandas as pd
import json

In [ ]:
data = pd.read_json('./spider/tables.json')

In [42]:
data.head()

,column_names,column_names_original,column_types,db_id,foreign_keys,primary_keys,table_names,table_names_original
0,"[[-1, *], [0, perpetrator id], [0, people id],...","[[-1, *], [0, Perpetrator_ID], [0, People_ID],...","[text, number, number, text, number, text, tex...",perpetrator,"[[2, 9]]","[1, 9]","[perpetrator, people]","[perpetrator, people]"
1,"[[-1, *], [0, building], [0, room number], [0,...","[[-1, *], [0, building], [0, room_number], [0,...","[text, text, text, number, text, text, number,...",college_2,"[[9, 4], [13, 4], [19, 1], [20, 2], [15, 7], [...","[1, 4, 7, 11, 15, 22, 27, 31, 37, 39, 45]","[classroom, department, course, instructor, se...","[classroom, department, course, instructor, se..."
2,"[[-1, *], [0, id], [0, city], [0, country], [0...","[[-1, *], [0, id], [0, City], [0, Country], [0...","[text, number, text, text, text, text, text, n...",flight_company,"[[20, 7], [19, 1]]","[1, 7, 13]","[airport, operate company, flight]","[airport, operate_company, flight]"
3,"[[-1, *], [0, institution id], [0, name], [0, ...","[[-1, *], [0, instID], [0, name], [0, country]...","[text, number, text, text, number, text, text,...",icfp_1,"[[11, 7], [10, 1], [9, 4]]","[1, 4, 7, 9]","[institution, authors, papers, authorship count]","[Inst, Authors, Papers, Authorship]"
4,"[[-1, *], [0, body builder id], [0, people id]...","[[-1, *], [0, Body_Builder_ID], [0, People_ID]...","[text, number, number, number, number, number,...",body_builder,"[[2, 6]]","[1, 6]","[body builder, people]","[body_builder, people]"

In [ ]:
"""
datatabase = {
    "db_id": , data.db_id
    "tables": tables
    "foreign_keys": fks
    }

fks = [fk]

fk = {
    "child_table": ,
    "child_column": ,
    "parent_table": ,
    "parent_column": 
    }

tables = 
    { "table_name":
        [column]
    }
    

column = {
    "col_name": ,
    "column_types": 
}
"""

In [25]:
fks = []
for foreign_key in data.foreign_keys:
    fk = {
        "child_table": data.table_names_original[data.column_names_original[foreign_key[0]][0]],
        "child_column": data.column_names_original[foreign_key[0]][1],
        "parent_table": data.table_names_original[data.column_names_original[foreign_key[1]][0]],
        "parent_column": data.column_names_original[foreign_key[1]][1]
    }
    fks.append(fk)

In [26]:
fks

[{'child_table': 'perpetrator',
  'child_column': 'People_ID',
  'parent_table': 'people',
  'parent_column': 'People_ID'}]

In [28]:
data.column_types[0]

'text'

In [34]:
tables = {}
for tab in data.table_names_original:
    tables[tab] = []

for col_idx in range(1,len(data.column_types)):
    col = data.column_names_original[col_idx]
    column = {
        "col_name": col[1],
        "column_types": data.column_types[col_idx]
      }
    tables[data.table_names_original[col[0]]].append(column)

In [ ]:
dbs[data.db_id] = {}
database = {
    "db_id": data.db_id,
    "tables": tables,
    "foreign_keys": fks
}
dbs.append(database)

In [57]:
dbs = {}
for db_idx in range(len(data)):
    db = data.loc[db_idx]
    # print(db)
    # break
    fks = []
    for foreign_key in db.foreign_keys:
        fk = {
            "child_table": db.table_names_original[db.column_names_original[foreign_key[0]][0]],
            "child_column": db.column_names_original[foreign_key[0]][1],
            "parent_table": db.table_names_original[db.column_names_original[foreign_key[1]][0]],
            "parent_column": db.column_names_original[foreign_key[1]][1]
        }
    fks.append(fk)
    
    tables = {}
    for tab in db.table_names_original:
        tables[tab] = []

    for col_idx in range(1,len(db.column_types)):
        col = db.column_names_original[col_idx]
        column = {
            "col_name": col[1],
            "column_types": db.column_types[col_idx]
        }
        tables[db.table_names_original[col[0]]].append(column)
    database = {
        "tables": tables,
        "foreign_keys": fks
    }
    dbs[db.db_id] = database

In [63]:
res = json.dumps(dbs, indent=4)

In [ ]:
with open('./spider/spider.json','w') as f:
    f.write(res)
    f.close()

In [65]:
data = pd.read_json('./spider/spider.json')

In [66]:
data

,perpetrator,college_2,flight_company,icfp_1,body_builder,storm_record,pilot_record,race_track,academic,department_store,...,tvshow,wrestler,customer_complaints,department_management,customers_and_products_contacts,company_1,workshop_paper,epinions_1,party_host,product_catalog
tables,{'perpetrator': [{'col_name': 'Perpetrator_ID'...,"{'classroom': [{'col_name': 'building', 'colum...","{'airport': [{'col_name': 'id', 'column_types'...","{'Inst': [{'col_name': 'instID', 'column_types...",{'body_builder': [{'col_name': 'Body_Builder_I...,"{'storm': [{'col_name': 'Storm_ID', 'column_ty...","{'aircraft': [{'col_name': 'Aircraft_ID', 'col...","{'race': [{'col_name': 'Race_ID', 'column_type...","{'author': [{'col_name': 'aid', 'column_types'...","{'Addresses': [{'col_name': 'address_id', 'col...",...,"{'TV_Channel': [{'col_name': 'id', 'column_typ...","{'wrestler': [{'col_name': 'Wrestler_ID', 'col...","{'Staff': [{'col_name': 'staff_id', 'column_ty...","{'department': [{'col_name': 'Department_ID', ...","{'Addresses': [{'col_name': 'address_id', 'col...","{'works_on': [{'col_name': 'Essn', 'column_typ...","{'workshop': [{'col_name': 'Workshop_ID', 'col...","{'item': [{'col_name': 'i_id', 'column_types':...","{'party': [{'col_name': 'Party_ID', 'column_ty...",{'Attribute_Definitions': [{'col_name': 'attri...
foreign_keys,"[{'child_table': 'perpetrator', 'child_column'...","[{'child_table': 'prereq', 'child_column': 'co...","[{'child_table': 'flight', 'child_column': 'ai...","[{'child_table': 'Authorship', 'child_column':...","[{'child_table': 'body_builder', 'child_column...","[{'child_table': 'affected_region', 'child_col...","[{'child_table': 'pilot_record', 'child_column...","[{'child_table': 'race', 'child_column': 'Trac...","[{'child_table': 'cite', 'child_column': 'cite...",[{'child_table': 'Staff_Department_Assignments...,...,"[{'child_table': 'Cartoon', 'child_column': 'C...","[{'child_table': 'Elimination', 'child_column'...","[{'child_table': 'Complaints', 'child_column':...","[{'child_table': 'management', 'child_column':...","[{'child_table': 'Order_Items', 'child_column'...","[{'child_table': 'Order_Items', 'child_column'...","[{'child_table': 'Acceptance', 'child_column':...","[{'child_table': 'trust', 'child_column': 'sou...","[{'child_table': 'party_host', 'child_column':...",[{'child_table': 'Catalog_Contents_Additional_...

In [67]:
data.perpetrator

tables          {'perpetrator': [{'col_name': 'Perpetrator_ID'...
foreign_keys    [{'child_table': 'perpetrator', 'child_column'...
Name: perpetrator, dtype: object